@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;var(--normal);700&display=swap');


:root{
    /*colours*/
    --white: hsl(0, 0%, 100%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Very-Dark-Magenta: hsl(300, 43%, 22%);

    /*font-family*/
    --ffamily-League-Spartan: 'League Spartan', sans-serif;

    /*font-weight*/
    --normal: 400;
    --medium: 500;
    --bold: 700;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ffamily-League-Spartan);
    font-size: 15px;
    background-color: var(--white);
    background-image: url("/images/bg-pattern-top-desktop.svg"), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 25vh,
    left 20vw top 20vh;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
}

.top h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: var(--bold);
    color: var(--Very-Dark-Magenta);
}

.top p {
    font-size: .9rem;
    color: var(--Dark-Grayish-Magenta);
}

.customer-rating {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--Light-Grayish-Magenta);
    padding: .7rem 1.5rem;
    margin-bottom: .8rem;
    font-size: .7rem;
    font-weight: var(--normal);
    align-items: center;
    border-radius: 10px;
    color: var(--Very-Dark-Magenta);
}

.ratings-img {
    margin-right: 1rem;
}

.rating-2nd {
    margin-left: 2rem;
}

.rating-3rd {
    margin-left: 4rem;
}

.bottom-rating {
    margin-top: 50px;
}

.rating-card {
    display: flex;
    justify-content: space-between;
    
}
    
.card {
    width: 300px;
    height: 150px;
    background-color: var(--Very-Dark-Magenta);
    margin-right: 1rem;
    padding: 20px 15px;
    border-radius: 8px;
}

.profile {
    display: flex;
    align-items: center;
    
}

.profile img {
    width: 50px;
    height: auto;
    border-radius: 100px;
    margin-right: 1rem;
}

.profile h3 {
    font-size: .7rem;
    color: var(--white);
    margin-bottom: 3px;
}

.profile h5{

    color: var(--Soft-Pink);
}

.review p {
    font-size: .7rem;
    color:  hsl(300, 100%, 97%);
    margin-top: 10px;
    font-weight: var(--normal);
    line-height: 1.1rem;
}

.rating-card-2 {
    margin-top: 1rem;
}

.rating-card-3 {
    margin-top: 2rem;
}



@media (max-width: 375px) {
    .top h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .top p {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 20px;
    }
    .rating-2nd {
        margin-left: 0;
    }
    .rating-3rd {
        margin-left: 0;
    }
    .ratings-img {
        margin-right: 0;
    }
    .customer-rating  {
        justify-content: center;
    }
    .rating-card {
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
    }
    .card {
        width: 100%;
        margin-top: 1rem;
        
    }

    .bottom-rating  {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}
